<?xml version="1.0"?>
<!--
/**
 * @author Kashyap Team
 * @copyright Copyright (c) 2018 Kashyap (softwarekashyap@gmail.com)
 * @package Kashyap_CustomShippingRate
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Address\Total\Shipping">
        <plugin sortOrder="1" name="kashyapCustomShippingRateShipping" type="Kashyap\CustomShippingRate\Plugin\Quote\Address\Total\ShippingPlugin"/>
    </type>
</config>